input {
  file {
    path => "/home/koustav/image_space/scripts/deploy/solr/solr-data-file.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}
filter {
  csv {
    separator => ","
    columns => ["sha1sum_s_md","id"]
  }
}
output {
  elasticsearch {
    hosts => "localhost"
    index => "imagespace"
    document_type => "elasticsearch_imagespace"
  }
  stdout {}
}
    
